
<footer  class="navbar-fixed-bottom fdb-block footer-small stickBottom navbar-fixed-bottom">

    <div class="row text-center align-items-center navbar-fixed-bottom">
      <div class="col">
        <ul class="nav justify-content-center navbar-fixed-bottom">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.froala.com">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.froala.com">Terms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.froala.com">About</a>
          </li>
        </ul>

        <p class="text-h5 mt-5">&copy; 2017 Fulqrum </p>
      </div>
    </div>

</footer>

</body>
</html>
