<!DOCTYPE html>
<html>
  <head>
      <title>Fulqrum</title>
      <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
      integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <link rel="stylesheet" href="app.css">
      <html lang="en">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="A free to use customer service analytics web application" />
      <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

      <header>
        <div class="container">
          <nav class="navbar navbar-expand-md">
            <a class="navbar-brand">
              <img src="imgs/img_logo.png" height="30">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav11" aria-controls="navbarNav11" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav11">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/analytics">Analytics</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contacts</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/getstarted">Get Started</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="settings">Settings</a>
                </li>
              </ul>

              <a class="btn btn-primary btn-empty ml-md-3" href="/logout">Logout</a>
            </div>
          </nav>
        </div>
      </header>
  </head>
  <body>
