

<% include partials/header %>

<div >
  <a class="btn btn-primary btn-empty ml-md-3">Update</a>
  <% for(var i = 0; i < reviews.length; i++) {%>
     <p><%- JSON.stringify(reviews[i]) %></p>
  <% } %>
</div>

<% include partials/footer %>
