<% include partials/header %>

<div id="container">
  <h1 class="center" >Welcome to Your Homepage</h2>
  <h2 class="center"><%=company.name%></h2>
  <img class="center" src="imgs/img_logo.png">
</div>

<% include partials/footer %>
