<!DOCTYPE html>
<html>
  <head>
      <title>Fulqrum</title>
      <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>      
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
      integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <link rel="stylesheet" href="app.css">
      <html lang="en">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="A free to use customer service analytics web application" />
      <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        
  </head>
  <body>
      <button class=" btn-primary btn mt-4" onclick="location.href='/'">Go Back</button>      
      

<div id="container">
    

    <!--
    <form method="POST" action="/login">
      <input name="username" class="form-control form-horizontal" placeholder="Company Username">
      <input name="password" type="password" class="form-control form-horizontal" placeholder="Password">
      <input type="submit" class = "form-control form-horizontal" value="Submit">
    </form>
    -->

    <section class="fdb-block" style="background-image: url(./imgs/bg_0.svg)">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-7 col-xl-5 text-center">
          <div class="fdb-box fdb-touch">
            <div class="row">
              <div class="col">
                <h1>Log In</h1>
              </div>
            </div>
            <form method="POST" action="/login">

            <div class="row mt-4">
              <div class="col">
                <input name="username" class="form-control form-horizontal" placeholder="Username">
              </div>
            </div>


            <div class="row mt-4">
              <div class="col">
                <input name="password" type="password" class="form-control mb-1 form-horizontal" placeholder="Password">
                <!-- <p class="text-right"><a>Recover Password</a></p> -->
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <button class="form-control form-horizontal" value="Submit" type="submit">Submit</button>
              </div>
            </div>

            </form>
            <div class="row mt-4">
              <%if (error) { %>
                <h6><%=error%></h6>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


</div>

 <% include partials/footer %>
