<% include partials/header %>

<section class="fdb-block">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-8 col-xl-6">
        <div class="row">
          <div class="col text-center">
            <h1>Register</h1>
            <p> One free account gets you full access to fulqrum's services.</p>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col mt-4">
            <input type="text" class="form-control" placeholder="Company Name">
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col mt-4">
              <select class="form-control" required>
                <option value="">Select Company Type</option>
                <option value="1">Restaurant</option>
                <option value="2">Auto Repair</option>
                <option value="3">Nightlife</option>
                <option value="4">Retail</option>
                <option value="5">Fitness</option>
              </select>
            </div>
        </div>
        <div class="row align-items-center mt-4">
          <div class="col">
            <input type="email" class="form-control" placeholder="Email">
          </div>
        </div>
        <div class="row align-items-center mt-4">
          <div class="col">
            <input type="phonenumber" class="form-control" placeholder="Phone Number">
          </div>
        </div>
        <div class="row align-items-center mt-4">
          <div class="col">
            <input type="username" class="form-control" placeholder="Username">
          </div>
        </div>
        <div class="row align-items-center mt-4">
          <div class="col">
            <input type="password" class="form-control" placeholder="Password">
          </div>
          <div class="col">
            <input type="password" class="form-control" placeholder="Confirm Password">
          </div>
        </div>
        <div class="row align-items-center mt-4">
          <div class="col">
            <input type="address" class="form-control" placeholder="Street Address">
          </div>
        </div>
        <div class="row align-items-center mt-4">
          <div class="col">
            <input type="zipcode" class="form-control" placeholder="Zipcode">
          </div>
          <div class="col">
            <input type="City" class="form-control" placeholder="City">
          </div>
          <div class="col">
            <input type="state" class="form-control" placeholder="State">
          </div>
        </div>
        <div class="row justify-content-start mt-4">
          <div class="col">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                I Read and Accept <a href="https://www.google.com">Terms and Conditions</a>
              </label>
            </div>
            <button type="submit" class="btn mt-4">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <%if (error) { %>
    <h3><%=error%></h3>
  <% } %>

<% include partials/footer %>
