<!DOCTYPE html>
<html>
  <head>
      <title>Fulqrum</title>
      <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>      
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
      integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <link rel="stylesheet" href="app.css">
      <html lang="en">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="A free to use customer service analytics web application" />
      <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        
  </head>
  <body>
      <button class=" btn-primary btn mt-4" onclick="location.href='/'">Go Back</button>      
      

<section class="fdb-block">
  <div id="container" class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-8 col-xl-6">

        <div class="row">
          <div class="col text-center">
            <h1>Register</h1>
            <p> One free account gets you full access to fulqrum's services.</p>
          </div>
        </div>

        <form method="POST" action="/register">
          <div class="row align-items-center">
            <div class="col mt-4">
              <input name="name" type="text" class="form-control" placeholder="Company Name" required>
            </div>
          </div>

          <div class="row align-items-center">
            <div class="col mt-4">
                <select name="Industry" class="form-control" required>
                  <option value="">Select Company Type</option>
                  <option value="1">Restaurant</option>
                  <option value="2">Auto Repair</option>
                  <option value="3">Nightlife</option>
                  <option value="4">Retail</option>
                  <option value="5">Fitness</option>
                </select>
              </div>
          </div>

          <div class="row align-items-center mt-4">
            <div class="col">
              <input name="email" class="form-control" placeholder="Email" required>
            </div>
          </div>

          <div class="row align-items-center mt-4">
            <div class="col">
              <input name="phone" class="form-control" placeholder="Phone Number" required>
            </div>
          </div>

          <div class="row align-items-center mt-4">
            <div class="col">
              <input name="username" class="form-control" placeholder="Username" required>
            </div>
          </div>

          <div class="row align-items-center mt-4">
            <div class="col">
              <input name="password" type="password" class="form-control" placeholder="Password" required>
            </div>
            <div class="col">
              <input name="cPassword" type="password" class="form-control" placeholder="Confirm Password" required>
            </div>
          </div>

          <div class="row align-items-center mt-4">
            <div class="col">
              <input name="streetAddress" class="form-control" placeholder="Street Address" required>
            </div>
          </div>

          <div class="row align-items-center mt-4">
            <div class="col">
              <input name="zipcode" class="form-control" placeholder="Zipcode" required>
            </div>
            <div class="col">
              <input name="city" class="form-control" placeholder="City" required>
            </div>
            <div class="col">
              <input name="state" class="form-control" placeholder="State" required>
            </div>
          </div>

        <div class="row justify-content-start mt-4">
          <div class="col">
            <div class="form-check">
            <label class="form-check-label">
              <input name="sendEmails" type="checkbox" class="form-check-input">
               <a>Send me email notifications</a>
            </label>
            </div>
          </div>
        </div>

        <button type="submit" class="btn-primary btn mt-4">Submit</button>

      </form>
      </div>
    </div>
  </div>
</section>

<!--
  <%if (error) { %>
    <h3><%=error%></h3>
  <% } %>
-->
<% include partials/footer %>
